<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /SunnyLink/public/
    
    # Ne pas rediriger si le fichier ou dossier existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger toutes les requêtes vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
